@import url("https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap");
.container-summer {
  width: 100%;
  height: auto;
  margin-top: 5rem;
  padding: 10px;
}

.title-summer {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  font-size: 2.8rem;
  font-family: "Finlandica", sans-serif;
}
.thumb-summer {
  position: relative;
  width: 100%;
  height: auto;
}
.img-summer {
  width: 100%;
  height: 400px;
  margin-top: 2.5rem;
}

.block-summer {
  position: absolute;
  width: auto;
  top: 50%;
  right: 10px;
}

.block-summer-desc {
  width: 100%;
  font-size: 1.6rem;
  margin-top: 10px;
  text-align: center;
  color: rgb(160, 151, 151);
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
}

.btn-summer {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: antiquewhite;
}
.desc-summer {
  width: 100%;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: black;
  font-family: "Unbounded", cursive;
  color: aliceblue;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.521);
}

@media only screen and (max-width: 1000px) {
  .img-summer img {
    object-fit: cover;
  }
  .block-summer{
    left: 40vw;
  }
}
