@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap");

.container-profile {
  width: 100%;
  height: auto;
  display: flex;
}
.container-profile aside {
  width: 250px;
  background-color: rgb(234, 234, 234);
  height: auto;
  padding: 20px;
  border-right: 1px solid rgb(164, 164, 164);
}
.profile-position {
  top: 2rem;
}
.profile-title {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 8px 0 15px 0;
}

.profile-option {
  width: 100%;
  text-align: start;
  margin: 5px 0;
  font-size: 1.1rem;
  padding: 5px 12px;
  letter-spacing: 1px;
  font-family: "Ubuntu";
}
.profile-option a {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.container-profile i::before {
  display: initial;
  width: fit-content;
  margin: 0;
  padding: 0;
  height: fit-content;
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(55, 55, 55);
  background-color: transparent;
}

.profile-title i::before {
  font-size: 1.6rem;
}
.profile-option:hover {
  background-color: rgb(213, 213, 213);
  border-radius: 14px;
}
