::root{
  --widthArrow:50;
}

.event{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.search {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  width: 14vw;
  max-width: 200px;
  min-width: 140px;
  margin-right: 15px;
  height: 30px;
  line-height: 30px;
}
form {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
input.search-input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 32px 0 8px;
  color: #000;
  font-size: 0.85rem;
  outline: none;
  background-color: rgb(223, 221, 221);
  border: 1px solid rgb(189, 188, 188);
  border-radius: 10px;
}
input.search-input:focus {
  outline: 1px solid rgb(137, 135, 135);
  background-color: rgb(206, 203, 203);
}
input.search-input:hover {
  border: 1px solid rgb(172, 170, 170);
  background-color: rgb(201, 199, 199);
}
.search-input:hover::placeholder {
  color: rgb(125, 125, 125);
}
.search-icon {
  position: absolute;
  right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 100%;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}
.search-icon:hover {
  background-color: rgb(201, 199, 199);
}
.clear-text-search {
  position: absolute;
  right: 0;
  display: block;
  background-color: transparent;
  width: 30px;
  height: 30px;
  /* top: 8px; */
}
.search-input::placeholder {
  font-size: 0.9rem;
}

.search-icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  padding: 0;
  margin: 0;
  outline: none;
  font-size: 1.2rem;
}

.responsive-search {
  visibility: hidden;
  transition: all 250ms;
  opacity: 0;
  font-size: 14px;
  transform: translateX(100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  z-index: 101;
  height: 100vh;
  .hint{
    max-width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-top: 40px;

    .slider-search {
      margin: auto;
      max-width: calc(100% - 2*60px);
      overflow: hidden;
      display: flex;
      gap: 25px;
      min-height: 230px;
      scroll-behavior: smooth;
    }
    .slider-search-arrows {
      position: absolute;
      transform: translate(0, 220%);
      width: 100%;
      top: 0;
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
    }
    
    .slider-search-arrows i {
      background-color: rgba(0, 0, 0, 0.384);
      border-radius: 100%;
      width: var(--widthArrow);
      height: var(--widthArrow);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 26px;
      padding: 10px;
      color: white;
      cursor: pointer;
    }
    
    
    .product-search{
      width: 200px;
      background-color: whitesmoke;
      text-align: center;
      color: rgb(0, 0, 0);
      border-radius: 12px;
      padding: 0px 5px 15px 5px;
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
      text-transform: capitalize;
      .description{
        border-top: 1px solid rgba(0, 0, 0, 0.329);
        padding-top: 10px;
      }
      img{
        width: 100%;
        border-top-left-radius:12px;
        border-top-right-radius:12px;
      }
    }
  }
  .header-search{
    display: flex;
    gap: 10px;
    .button {
      order: 1;
      background-color: rgb(229, 229, 229);
      border-bottom-right-radius: 20px;
      width: 50px;
      i{
        height: 100%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
      }
      i:hover{
        background-color: rgb(217, 217, 217);
      }
     }
  }
  .input{
    width: calc(100% - 50px);
    order: 2;
    position: relative;
    margin-left: auto;
    i{
      position: absolute;
      width: 40px;
      height: 40px;
      top: 5px;
      left: 5px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.3rem;
    }
    i:hover{
      background-color: whitesmoke;
    }
  }
 
   input{
    font-size: 1.2rem;
    position: relative;
    width: 100%;
    outline: none;
    margin-left: auto;
    padding: 5px 50px;
    height: 50px;
    background-color: rgb(229, 229, 229);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    box-shadow: 0 0 3px 1px rgb(212, 212, 212);
    display: flex;
    align-items: center;
   }
   input:focus{
    box-shadow: 0 0 3px 1.5px rgb(177, 177, 177);
   }
 
}
.responsive-search.open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.search-products{
  a,a:visited,a:link{
    color:black !important;
  }
  .not-found{
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 600;
  }
  width: 70vw;
  display: flex;
  position: absolute;
  z-index: 200;
  top: 65px;
  right: 10px;
  background-color: rgb(238, 238, 238);
  padding: 10px 0 10px 10px;
  height: 52vh;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius:12px ;
  .left{
    width: 30%;
    text-align: center;
    .box{
      width: 100%;
      height: 100%;
  }
    h4{
      width: 100%;
      font-size: 1.8rem;
      font-family: "Kanit";
    }
    .product-name:hover{
      border: 1px solid black;
      cursor: pointer;
    }
    .product-names{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 6px;
      height: 100%;
      gap: 10px;
      .product-name{
        min-width: 80%;
        width: fit-content;
        padding: 5px 12px;
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        text-transform: capitalize;
        background-color: rgba(255, 255, 255, 0.844);
        border-radius: 12px;
      }
    }
  }
  .right{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    padding: 5px 5px 5px 10px;
  }
  .s-product:hover{
    box-shadow:0 0 3px 1px black;
  }
  .s-product{
   width: 100%;
   display: flex;
   justify-content: space-around;
   background-color: whitesmoke;
   border-radius: 18px;
   .image{
    img{
      width: 100px;
      height: 100px;
      border-radius: 20px;
    }
   }
   .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .name{
      font-size: 1rem;
      font-family: 'Kanit';
      text-transform: capitalize;
    }
    .gender{
      font-size: 0.8rem;
      text-transform: capitalize;
      color: rgb(163, 162, 162);
    }
   }
   .price{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: 'Kanit';
    font-weight: 600;
   }
  }
}
@media (max-width: 1000px) {
  .searchbar form {
    display: none;
  }
  .search-products{
    display: none;
  }
  .searchbar {
    width: 54px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search {
    width: 100%;
    max-width: inherit;
    min-width: inherit;
    height: 100%;
    position: relative;
    margin: auto;
    padding: 0 5px;
  }
  .search-icon {
    position: initial;
    width: 42px;
  }
  .search-icon i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px !important;
    height: 42px;
    border-radius: 100%;
  }
  .search-icon i:hover {
    background-color: rgb(216, 215, 215);
  }
  .search-icon:hover {
    background-color: transparent;
  }
}
