.cart-container{
    width: 100%1;
    padding: 20px;
    display: flex;
    justify-content: center;
    .title-cart{
        font-size: 2.5rem;
        margin: 20px 0;
    }
    .box-of-products{
        margin: 0 auto;
        .box-product{
            display: flex;
            width: 100%;
            width: 700px;
            padding: 20px;
          
            img{
                width: 150px;
                height: 150px;
            }
            .information{
                padding: 10px;
                .name::first-letter{
                    text-transform: uppercase;
                }
                .name{
                    font-size: 1.1rem;
                    margin: 5px 0;
                }
                .gender::first-letter{
                    text-transform: uppercase;
                }
                .quantity{
                    margin-left: 10px;
                    display: flex;
                    align-items: center;
                    select{
                        margin-top: 3px;
                        height: 22px;
                        margin-left: 2px;
                        width: 46px;
                        border-radius: 10px;
                        border: 2px solid black;
                    }
                }
            }
            .price{
                max-width: 100%;
                width: 20%;
                font-weight: 600;
                font-size: 1.2rem;
                align-self: center;
                text-align: end;
            }
            .delete{
                align-self: center;
                text-align: end;
                width: 20%;
                color: red;
                font-size: 25px;
            }
            .favorite{
                align-self: center;
                width: 20%;
                max-width: 80px;
                text-align: center;
                font-size: 25px;
                color: black;
            }
           
    }
    }
    .to-pay{
        width: 400px;
        padding: 1.5rem;
        .title-pay{
            font-size: 1.7rem;
            margin: 0 0 2rem 0;
            font-weight: 600;
        }
        .box-pay{
            text-align:  center;
            .style-div{
                margin: 1rem 0;
                font-size: 1.2rem;
                display: flex;
                justify-content: space-between ;
                .bi-x-lg::before{
                    color: red;
                    font-size: 1.3rem;
                }
                .code-discount{
                    color: green;
                    font-size: 1.15rem;
                    font-weight: 600;
                }
            }
            button.checkout{
                background-color: black;
                font-size: 1.1rem;
                color: white;
                width: 60%;
                height: 40px;
                border-radius: 10px;
            }
        }
        .promo-code{
            margin: 1rem 0;
            width: 100%;
            text-align: center;
            overflow: hidden;
            height: auto;
            span{
                cursor: pointer;
                font-size: 1.2rem;
                .rotate::before{
                    transform: rotate(180deg) ;
                }
                i::before{
                    transition: all 350ms ease;
                }
            }
           
            .div-promo{
                margin: 0.4rem 0;
                padding: 5px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                input{
                    width: 50%;
                    height: 32px;
                    font-size: 0.9rem;
                    margin-top: 1px;
                    border-radius: 10px;
                    border: 1px solid rgb(134, 134, 134);
                    outline: none;
                    margin-right: 5px;
                }
                button{
                    width: 20%;
                    border-radius: 10px; 
                    margin-top: 1px;
                    background-color: black;
                    color: white;
                    font-size: 1.05rem;
                    height: 100%;
                    height: 35px;
               }
            }
            .show{
                visibility: visible;
                transition: all 350ms ease-in-out;
                opacity: 1;
                height: 50px;
            }
            .hide{
                visibility: hidden;
                transition: all 350ms ease-in-out;
                opacity: 0;
                height: 0;
            }
            
        }
    }
}