.con-modal-pass {
  position: absolute;
  top: 25%;
  bottom: 50%;
  left: 50;
  right: 50;
  z-index: 99;
  background-color: transparent;
  filter: blur(1px);
  opacity: 90%;
  box-shadow: 0 0 2px 1px gray;
  width: 400px;
  height: 400px;
}

.con-modal {
  position: absolute;
  top: 25%;
  bottom: 50%;
  left: 50;
  right: 50;
  z-index: 99;
  background-color: white;
  box-shadow: 0 0 2px 1px gray;
  width: 400px;
  height: 400px;
}
