@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap");
.first-div {
  width: 100%;
  min-height: 24px;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: rgb(235, 235, 235);
}
.blank-div {
  width: 300px;
  min-width: fit-content;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.actually-news {
  width: 100%;
  min-width: 60%;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  font-family: "Kanit";
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
}

.options {
  width: 300px;
  min-width: fit-content;
  display: flex;
  justify-content: right;
}

.option {
  margin: 0 0.4rem 0 0.4rem;
}

.option a,
.option a:visited,
.option a:link {
  color: black;
}

@media only screen and (max-width: 400px) {
  .blank-div {
    display: none;
  }
}
@media only screen and (max-width: 260px) {
  .actually-news {
    display: none;
  }
  .options {
    justify-content: space-between;
  }
}
