footer {
  width: 100%;
  height: auto;
  background-color: rgb(26, 24, 24);
  color: rgb(226, 225, 225);
}
.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.footer-column {
  width: 200px;
  text-align: left;
  margin: 0 10px;
}

.footer-column-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.footer-column-option {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}
.footer-column-option i {
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}
.footer-col {
  font-size: 0.8rem;
  width: auto;
  margin: 0 1rem;
}
.socials {
  width: auto;
}

.social-t {
  text-indent: 3px;
}

.footer-column-option:hover {
  color: rgb(197, 197, 197);
  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: underline;
}

.footer-column-option:hover > i {
  background-color: rgb(223, 213, 213);
  color: black;
  border-radius: 25px;
  padding: 3px;
}

@media only screen and (max-width: 495px) {
  .footer-column {
    text-align: center;
  }
  .footer-column-option {
    justify-content: center;
  }
}
