.md-container {
  width: 1200px;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
}
.md-box {
  margin: 5rem 0;
  width: auto;
  position: relative;
  display: flex;
}
.md-img {
  width: 140px;
  height: 140px;
  display: block;
  border-radius: 50%;
  margin: auto;
}

.md-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  object-fit: cover;
}

input[type="file"] {
  display: none;
}
label.md-file {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: 24px;
  width: 140px;
  border-radius: 10px;
  margin: 5px 0;
  background-color: rgb(221, 220, 220);
  position: absolute;
  border: 1px solid rgb(156, 153, 153);
}
.md-input-file {
  height: 170px;
}
.md-center {
  display: flex;
  justify-content: center;
}
.md-con-input {
  margin-top: 20px;
  position: relative;
}
.md-hr {
  margin: 30px 0 10px 0;
}
.md-hr {
  height: 3px;
  background-color: black;
}
.md-input {
  width: 300px;
  height: 38px;
  background-color: rgb(249, 249, 249);
  outline: none;
  border: 1px solid #198754;
  box-shadow: 0px 0px 2px 0px #198754;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 0.9rem;
  color: rgb(39, 39, 39);
}
.md-label {
  position: absolute;
  left: 6px;
  top: 10px;
  font-size: 13px;
  z-index: 1;
  padding: 0 3px;
  transition: all 150ms ease;
  color: gray;
}
.md-input:focus + .md-label,
.filled {
  top: -10px;
  color: gray;
  font-weight: 600;
}

.md-input::placeholder {
  font-size: 13.5px;
  opacity: 0;
  transition: all 150ms ease;
}

.md-input:focus::placeholder {
  opacity: 1;
}

.md-inputs {
  padding: 10px 25px;
  margin-left: 30px;
}

.password-edit {
  display: flex;
  align-items: flex-end;
}

.password-edit button {
  width: fit-content;
  font-size: 0.66rem;
  font-weight: 600;
  height: 18px;
  border-radius: 5px;
  margin-left: 7px;
  margin-bottom: 6px;
  box-shadow: 0 0 1px 1px black;
  border: none;
  background-color: rgb(250, 250, 250);
  color: black;
}
.md-final-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.md-final-btn button {
  width: 80px;
  height: 30px;
  border: none;
  box-shadow: 0 0 1px 1px black;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  font-size: 0.9rem;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}
.md-final-btn button:disabled {
  opacity: 65%;
  pointer-events: none;
}
/* .md-final-btn button:hover {
  filter: contrast(40%);
} */
input.md-input.error-input {
  border: 1px solid #dc3545;
  box-shadow: 0px 0px 2px 0.5px #dc3545;
}
.md-input:focus + .md-label::before,
.md-input:hover + .md-label::before {
  box-shadow: 0px 0px 1px 1.2px rgb(246, 246, 246);
  background-color: rgb(246, 246, 246) !important;
}
.md-input:focus,
.md-input:hover {
  background-color: rgb(246, 246, 246) !important;
}
.md-label::before {
  content: "";
  height: 5px;
  background-color: rgb(249, 249, 249);
  position: absolute;
  left: 0px;
  top: 10px;
  width: 100%;
  box-shadow: 0px 0px 1px 1.2px rgb(249, 249, 249);
  z-index: -1;
}
.error-text {
  color: #dc3545;
  font-size: 0.8rem;
  padding: 2px;
  font-variant: small-caps;
}

.positive-text {
  color: #198754;
  font-size: 0.8rem;
  padding: 2px;
  font-variant: small-caps;
}
