@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
nav {
  position: relative;
  box-sizing: border-box;
  display: flex;
  height: 65px;
  margin: 0 auto;
  width: 100%;
  max-width: none;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(247, 247, 247);
  z-index: 99;
  position: sticky;
  top: 0;
  left: 0;
}

.nav-open {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
.left-side-menu {
  display: flex;
  width: 100px;
  height: 50px;
  align-items: center;
  cursor: pointer;
}
img {
  width: 100%;
  height: 100%;
}

.main-panel-menu {
  display: flex;
  /* position: relative; */
  flex: 0 0 auto;
  height: 100%;
  align-items: center;
  font-family: "Poppins";
  font-size: 1.1rem;
}

.option-panel {
  padding: 0 10px;
  height: 100%;
  display: flex;
  width: 100%;
  height: 62px;
  align-items: center;
  color: black;
}

.option-panel:hover {
  margin-top: 2px;
  border-bottom: 3px #000000 solid;
}

.option-panel a:visited,
.option-panel a:link {
  color: black;
  text-decoration: none;
}

.right-side-menu {
  display: flex;
  justify-content: flex-end;
  min-width: 124px;
  align-items: center;
  font-size: 24px;
  height: 100%;
}
.right-side-menu button i {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
}
.right-side-menu button i:hover {
  background-color: rgb(216, 215, 215);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.right-side-menu i {
  cursor: pointer;
  font-size: 1.4rem;
}
.right-side-menu .bi-heart {
  padding-top: -3px;
}
.searchbar {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.btn-icon {
  background-color: transparent;
  outline: none;
  border: none;
}
.btn-icon:hover {
}

.option-panel:hover > .dropdown {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}

.bg-page {
  display: block;
  opacity: 0;
  z-index: 3;
  visibility: hidden;
  position: fixed;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(22, 22, 22, 0.5);
  backdrop-filter: blur(4px);
}
.amount {
  position: absolute;
  bottom: 2px;
  right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top: 2px; */
  padding: 2px 2px 0px 3px;
  font-weight: 600;
  font-style: normal !important;
  width: 18px;
  height: 18px;
  font-size: 13.5px;
  border: 1px solid black;
  background-color: rgb(252, 252, 252);
  border-radius: 50%;
}
.bi-bag {
  position: relative;
}
/* .panel{
    display: flex;
    padding-left: 40px;
    flex: 1;
}
@media (min-width: 1280px){
    .panel{
        padding-left: 0;
        position: relative;
        flex: 0 0 auto;
    }
}
*/
.i-icon {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.i-icon:hover {
}
.container-icon button .i-icon:hover > .person-container {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}
.container-icon {
  position: relative;
  height: 100%;
}
.container-icon button {
  height: 100%;
}
.person-container {
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease, opacity linear 0.1s, visibility linear 0.1s;
  transform-origin: top;
  transform: scaleY(0);
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 165px;
  right: -50%;
  left: -100%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom: 1px solid rgb(164, 156, 156);
  border-left: 1px solid rgb(164, 156, 156);
  border-right: 1px solid rgb(164, 156, 156);
  padding: 5px;
  top: 98%;
}
.person-option {
  font-size: 16.5px;
  margin: auto;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 8px 0;
}
.person-option:last-child {
  margin: 10px 0 0 0;
}

.right-side-menu .person-option a:visited,
.right-side-menu .person-option a:link {
  color: black;
  text-decoration: none;
}
