.container-collection {
  width: 100%;
  height: auto;
}
.title-collection {
  text-align: center;
}
.title-collection h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  letter-spacing: 3px;
  margin: 0.2rem auto 0.5rem auto;
  text-indent: 30px;
}
.baner-collection {
  width: 100%;
  height: 400px;
  display: flex;
  text-align: center;
  background-size: cover;
  background-position: top center;
}

.desc-collection {
  width: 60%;
  margin: auto;
  background-color: rgba(5, 5, 5, 0.61);
  color: white;
  text-align: center;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-family: "Anton";
  letter-spacing: 1px;
  font-size: large;
  word-spacing: 2px;
  border-radius: 6px;
  max-width: 600px;
}
.min-desc {
  width: 100%;
  display: flex;
  text-indent: 25px;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.btn-collection {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px 10px 0;
}
.btn-collection button {
  width: 145px;
  border-radius: 25px;
  outline: none;
  border: 2px solid black;
  background-color: black;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.btn-collection button a:link,
.btn-collection button a:visited {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .desc-collection {
    width: 95%;
  }
} ;
