.dropdown {
  max-width: 100%;
  max-height: 90vh;
  height: fit-content;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  background-color: rgb(247, 247, 247);
  overflow: auto;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease, opacity 0ms linear 0.1s,
    visibility 0ms linear 0.1s;
  transform-origin: top center;
  transform: scaleY(0);
  padding-bottom: 30px;
  border-bottom: 3px solid rgb(145, 145, 145);
}

.dd-column {
  min-width: fit-content;
  padding: 25px 25px 0px 25px;
  height: fit-content;
}

.dd-column .dd-title {
  font-size: 1.1rem;
  margin-bottom: 20px;
  cursor: pointer;
}
.dd-column .dd-option {
  font-size: 0.95rem;
  margin: 10px 0;
  cursor: pointer;
  color: rgb(164, 164, 165);
}
.dd-column .dd-option:hover {
  color: rgb(94, 91, 91);
  transition: all 150ms ease;
}
.pre-container {
  margin-left: auto;
  max-width: 1200px;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.dropdown-close {
  opacity: 0 !important;
  visibility: hidden !important;
  transition: transform 0.3s ease, opacity 0ms linear 0.1s,
    visibility 0ms linear 0.1s !important;
  transform-origin: top center !important;
  transform: scaleY(0) !important;
}
