@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "arial";
  max-width: 1920px;
  margin: auto;
}

.is-open {
  visibility: visible !important;
  opacity: 1 !important;
}

a.black:visited,
a.black:link {
  text-decoration: none;
  color: black;
}

.path-link {
  color: black;
  text-transform: uppercase;
  font-family: "Kanit", sans-serif;
  font-size: 0.8rem;
}
.path-link a:visited,
.path-link a:link {
  color: black;
  text-decoration: none;
}
.path-link span {
  font-size: 0.96rem;
}
.currentPathWeb {
  letter-spacing: 0.5px;
  width: 100%;
  display: flex;
  text-transform: capitalize;
}
.currentPathWeb a {
  color: black;
  font-family: "Kanit", sans-serif;
}

.current-title {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
}
