@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.conLifestyle {
  width: 100%;
  padding: 1rem 3rem;
  .header {
  display: flex;
  justify-content: space-between;
    .buttons {
    display: flex;
    align-self: flex-end;
    gap: 10px;
    height: fit-content;
    position: relative;
    font-size: 1.2rem;
  
    .filter-btn {
      border: 2px solid black;
      padding: 2px;
      border-radius: 8px;
      background-color: white;
      width: 100px;
      text-align: center;
      cursor: pointer;
    }
    .open ~ .filter-select .box-select{
      transform: translateY(0%) !important;
      transition: all 150ms ease;
      background-color: black;
      visibility: visible !important;
    }
    .filter-btn:last-of-type{
      .filter-select{
        width: 100%;
        position: absolute;
        top: 100%;
        left:0;
        overflow: hidden;
        z-index: 2;
        padding: 1px;
        border-radius: 12px;
        .box-select{
          box-shadow: 0 5px 10px -4px rgb(176, 176, 176);
          border-radius: 12px;
          transition: all 250ms ease-in-out ;
          transform: translateY(-120%);
          background-color: white;
          padding: 10px;
          text-align: right;
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
          visibility: hidden;
        }
        .active{
          background-color: rgb(233, 233, 233);
        }
        span{
          display: block;
          font-size: 1.2rem;
          padding: 4px;
          width: 100%;
          padding-right: 20px;
          background-color: transparent;
          border-radius: 20px;
          margin: 5px;
        }
        span:hover{
          background-color: rgb(244, 243, 243);
        }
     
    }
    }
    }
  }
  .con-content {
    display: flex;
    .filter-bar {
      max-width: 300px;
      padding: 1rem 1.5rem 1rem 0.5rem;
      overflow: hidden;
      .filter-line{
        background-color: black;
        width: 100%;
        height: 2px;
      }
      .title-filter{
        font-size: 1.4rem;
        font-family: 'Kanit';
      }
      .title-option{
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-family: 'Kanit';
      }
      .options{
        padding: 5px;
        width: 100%;
      .price{
        width: 100%;
        .option{
          width: 100%;
          display: flex;
          padding: 5px 10px;
          align-items: center;
          .inp-price{
            width: 50%;
            border-radius: 10px;
            border: 2px solid black;
            outline: none;
            padding: 5px 15px;
          }
          .inp-price::-webkit-outer-spin-button,
          .inp-price::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
        .price-btn{
          width: 50%;
          background-color: black;
          color: white;
          border-radius: 12px;
          margin-top: 8px;
          padding: 2px;
        }
      }
    }
    .colors{
      width: 100%;
      .option{
        width: 100%;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        .color-item{
          width: 40px;
          height: 40px;
          padding: 0;
          border: 1px solid gray;
          border-radius: 50%;
          overflow: hidden;
          div{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: flex;
            justify-content:center;
            align-items: center;
            padding:2px 2px 0 0;
            i::before{
              font-size: 1.5rem;
            }
          }
        }
    }
    }
    }
    .contents{
      width: 100%;
      margin-top: 2rem;
      display: flex;
      height: auto;
      gap: 20px;
      flex-wrap: wrap;
      .box-product{
        flex: 1;
        max-width: 32%;
        width: 100%;
        min-width: 28%;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        box-shadow: 0 5px 10px -4px rgb(176, 176, 176);
        .main-img-product{
          width: 100%;
          img{
            border-radius: 20px;
            width: 100%;
          }
        }
        .show {
          transition: all 400ms ease;
          opacity: 1;
          // height: auto;
        }
        .hide {
          transition: all 400ms ease;
          opacity: 0;
          height: 0;
        }
        .con-imgs {
          width: 100%;
          display: flex;
          padding: 5px;
          cursor: pointer;
          .box-img{
            width: 50px;
            height: 50px;
            display: flex;
            border: 1px solid rgb(160, 156, 156);
            margin: 2px;
            border-radius: 10px;
            overflow: hidden;
          }
        }
        .active{
          border: 2px solid rgb(0, 0, 0) !important;
        }
        .description {
          padding: 15px 20px;
          font-size: 120%;
          .gender-product {
            font-size: 0.95rem;
            color: rgb(101, 96, 96);
            text-transform: capitalize;
            font-family: 'Kanit';
          }
          .name-product {
            text-transform: capitalize;
            font-family: 'Rubik', sans-serif;
          
          }
          .price-product {
            font-size: 1.1rem;
            font-family: 'Rubik';
          }
          
          .colors {
            color: rgb(101, 96, 96);
            font-family: 'Kanit';
          }
        }
      }
      .box-product:hover{
        transform: scale(1.02);
        transition: all 100ms ease-in;
        box-shadow: 0 5px 10px -1px rgb(130, 130, 130);
      }
    }
  }
// .currentPathWeb a {
//   color: black;
//   font-family: "Kanit", sans-serif;
// }

a:visited,
a:link {
  color: black;
  text-decoration: none;
}

.box-img img {
  width: 100%;
  height: 100%;
}

}

@media only screen and (max-width: 1050px) {
  .conLifestyle{
    .con-content{
      .filter-bar{
        width: 0px !important;
        visibility: hidden;
      }
      .contents{
        .box-product{
          max-width: 50%;
          width: 100%;
          min-width: 45%;
        }
      }
    }
  }
}