@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

.conLifestyle {
  width: 100%;
  height: auto;
  padding: 1rem 3rem;
}
.header {
  display: flex;
  justify-content: space-between;
}
.buttons {
  display: flex;
  align-self: flex-end;
  gap: 10px;
  height: fit-content;
}
.filterBar {
  width: 10%;
  min-width: 200px;
}
.filterBtn {
  border: 2px solid black;
  border-radius: 8px;
  background-color: white;
}

.content {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 20px 20px;
  /* flex-shrink: 10px; */
}

.currentPathWeb a {
  color: black;
  font-family: "Kanit", sans-serif;
}

.conContent {
  display: flex;
}

.boxProduct {
  /* width: 22vw; */
  flex-basis: auto;
  height: auto;
}

.boxProduct img {
  width: 21vw;
  height: 21vw;
}

.genderProduct {
  font-size: 0.85rem;
  color: rgb(101, 96, 96);
  text-transform: capitalize;
}
.nameProduct {
  text-transform: capitalize;
}
.priceProduct {
  font-size: 0.95rem;
}
.description {
  padding: 10px 2px;
}
.colors {
  color: rgb(101, 96, 96);
}

a:visited,
a:link {
  color: black;
  text-decoration: none;
}

.conImg {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.show {
  transition: all 400ms ease;
  opacity: 1;
  height: auto;
}
.hide {
  transition: all 400ms ease;
  opacity: 0;
  height: 0px;
}
.boxImg img {
  width: 50px !important;
  height: 50px !important;
}
